%tr 
	%td
	= form_for :variant, :url => good_variants_path( @good ), :remote => true do |f|	
		%td= f.text_field 	:sku
		%td= f.text_field 	:price

		- for option_type in @good.option_types
			%td= f.collection_select :option_value_ids, option_type.option_values.in_position, :id, :name, {}, { :id => "option_type_#{ option_type.id }", :name => "variant[option_value_ids][]" }

		%td
			= f.submit 'Add Variant'
