= render 'shared/form_errors', :object => @variant

%h1 Edit Variant #{ @variant.sku }

= form_for @variant, :url => good_variant_path( parent, @variant ) do |f|	
	= f.label			:sku, 'SKU'
	= f.text_field 	:sku
	
	= f.label			:price
	= f.text_field 	:price

	= f.submit

%h2 Images
= render 'manage/images/all',  :attachable => @variant

%h4 Add an Image
= render 'manage/images/form', :attachable => @variant, :return_to => edit_good_variant_path( @variant.good, @variant )